
:root {
    --maincolor: #FF9142;
    --mainsecond: #FFF1E8;
    --mainthird: #F94C30;
    --white: #FFFFFF;
}

p {
    margin: 0;
}

.main-background {
    background-color: var(--maincolor);
}

.color-white {
    color: var(--white);
}

.icons {
    width: 20px;
    height: 20px;
}

.custom-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.navbar .nav-top p{
    font-size: 14px;
}

.navbar .nav-midile img {
    max-width: 200px;
}

.navbar .nav-last .nav-last-left i {
    color: var(--maincolor);
}

.navbar .nav-last .nav-last-left img {
    max-width: 150px;
}

.navbar .nav-last .nav-last-right ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-last .nav-last-right ul li {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}