
:root {
    --maincolor: #FF9142;
    --mainsecond: #FFF1E8;
    --mainthird: #F15A29;
    --white: #FFFFFF;
}

p {
    margin: 0;
}

.main-background {
    background-color: var(--maincolor);
}

.background-second {
    background-color: var(--mainsecond);
}

.color-white {
    color: var(--white);
}

.main-color {
    color: var(--maincolor);
}

.solid-button {
    color: var(--white);
    background: var(--maincolor);
    border: none;
    padding: 15px 20px;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 4px 4px 7px 1px #00000047;
}

.icons {
    width: 20px;
    height: 20px;
}

.custom-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.navbar .nav-top p{
    font-size: 14px;
}

.navbar .nav-midile img {
    max-width: 250px;
}

.navbar .nav-last {
    border-top: 1px solid lightgray;
}

.navbar .nav-last .nav-last-left img {
    max-width: 150px;
}

.navbar .nav-last .nav-last-right ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-last .nav-last-right ul li {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    border-right: 2px solid var(--maincolor);
    min-width: 50px;
}

.navbar .nav-last .nav-last-right ul li button {
    border: none;
    font-weight: 700;
    color: var(--maincolor);
}

.navbar .nav-last .nav-last-right ul li:last-child {
    border: none;
}

.homebanner {
    background-image: url('../images/homebanner.png');
    background-size: cover;
    min-height: 70vh;
    position: relative;
}

.homebanner .homebanner-text-div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: #00000058;
    padding: 10px;
}

.homebanner .homebanner-text-div h1 {
    color: var(--white);
    font-size: 4rem;
    font-weight: 700;
}

.homebanner .homebanner-text-div h2 {
    color: var(--mainthird);
    font-size: 3rem;
    font-weight: 500;
    margin-top: 0px;
}

.home-about-main li {
    display: flex;
    margin-bottom: 15px;
}